################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Enigma/obj/Debug
/Enigma/.vs/Enigma/v15
